<section class="section-normal">
    <div class="content row">
        <div class="side col">
            {{#linkTo index}}<div class="registration-logo"></div>{{/linkTo}}

            <section class="box-highlight">
                <h2>All done!</h2>
                <h3>What now?</h3>
                <ul>
                    <li>
                        Watch out for your confirmation email.
                        <strong>You will need to confirm your email to get your ticket.</strong>
                    </li>
                    <li>Get acquainted with your F!rosh group.</li>
                    <li>Stay tuned for emails with more instructions!</li>
                </ul>
            </section>
        </div>

        <div class="main col">
            <section class="box-normal registration-receipt">
                <div class="row">
                    <div class="col main">
                        <h1>
                            Receipt
                            <span class="subtitle">
                                Paid on: <strong>{{timestamp model.createdAt format="MMMM DD, YYYY"}}</strong>
                            </span>
                        </h1>
                    </div>
                    <div class="col side">
                        <div class="registration-logo top"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col half float-right">
                        <p class="small">
                            <strong>University of Toronto Engineering Society</strong> <br>
                            B740 Sanford Fleming Building <br>
                            10 King's College Road <br>
                            Toronto, Ontario, M5S 3G4 <br>
                            <br>
                            T: (416) 978-2917 <br>
                            E: <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a> <br>
                            @: <a href="http://twitter.com/Skule_FroshWeek">@Skule_FroshWeek</a>
                        </p>
                    </div>

                    <div class="col half">
                        <p class="small">
                            <strong>Billing:</strong> <br>
                            {{ccData.name}} <br>
                            {{ccData.type}} - {{ccData.last4}} <br>
                        </p>

                        <p class="small">
                            <strong>Registrant:</strong> <br>
                            {{model.firstName}} {{model.lastName}}<br>
                            {{model.email}} <br>
                        </p>
                    </div>

                </div>

                <section class="registration-receipt-items">
                    <h2>Purchased Kit</h2>
                    <hr>
                    <div class="row">
                        <div class="col main">
                            {{selectedPackage.name}}
                        </div>
                        <div class="col side">
                            <strong>${{selectedPackage.price}}</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col main total">
                            <strong>Total</strong>
                        </div>
                        <div class="col side">
                            <strong>${{selectedPackage.price}}</strong>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col full">
                        <p class="small">
                            Print a copy of this for your records. <br>
                            For any problems regarding your purchase, contact
                            <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a> for help.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
