{{#with view}}
    <h2>
        <i {{bindAttr class="genderIcon"}}></i>
        <span class="toggle-link" {{action toggleExpand target=view}}>{{user.firstName}} {{user.lastName}}</span>
        <span class="toggle-icon" {{action toggleEdit target=view}}><i class="icon-edit-sign"></i></span>
        <span class="toggle-icon" {{action deleteUser user}}><i class="icon-remove-sign"></i></span>
        <span class="subtitle">
            {{user.ticketNumber}} |
            {{user.email}} <i {{bindAttr class="user.verified:icon-ok:icon-question"}}></i>
        </span>
    </h2>
    <div {{bindAttr class=":admin-user-element view.expanded:showing:hidden"}}>
        {{#if editMode}}
            <div class="row">
                <div class="full col">
                    <ul>
                        {{#unless user.verified}}
                            <li>
                                <span class="toggle-link" {{action sendConfirmation user}}>
                                    <i class="icon-envelope"></i> Send Confirmation
                                </span>
                            </li>
                        {{else}}
                            <li>
                                <span class="toggle-link" {{action sendTicket user}}>
                                    <i class="icon-ticket"></i> Send Ticket
                                </span>
                            </li>
                        {{/unless}}
                        {{#if user.bursaryRequested}}
                            {{#unless user.bursaryChosen}}
                                <li>
                                    <span class="toggle-link" {{action acceptBursary user}}>
                                        <i class="icon-ok"></i> Accept Bursary
                                    </span>
                                </li>
                            {{/unless}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        {{/if}}

        <div class="row">
            <div class="half col">
                <ul {{bindAttr class=":icons-ul editMode:expanded"}}>
                    <li>
                        <i class="icon-li icon-ticket"></i> {{user.ticketNumber}}
                    </li>
                    <li>
                        <i class="icon-li icon-envelope"></i>
                        {{#if editMode}}
                            {{view Ember.TextField valueBinding=user.email}}
                        {{else}}
                            {{user.email}}<sup><i {{bindAttr class="user.verified:icon-ok:icon-question :icon-small"}}></i></sup>
                        {{/if}}
                    </li>
                    <li>
                        <i class="icon-li icon-calendar"></i> {{timestamp user.createdAt format="MMMM DD, YYYY"}}
                    </li>
                    <li>
                        <i class="icon-li icon-phone"></i>
                        {{#if editMode}}
                            {{view Ember.TextField valueBinding=user.phone}}
                        {{else}}
                            {{#if user.phone}}{{user.phone}}{{else}}N/A{{/if}}
                        {{/if}}
                    </li>
                    <li>
                        <i class="icon-li icon-book"></i>
                        {{#if editMode}}
                            {{view Ember.Select contentBinding=App.UserFormEngineeringDisciplines valueBinding=user.discipline}}
                        {{else}}
                            {{user.discipline}}
                        {{/if}}
                    </li>
                </ul>
            </div>
            <div class="half col">
                <ul {{bindAttr class=":icons-ul editMode:expanded"}}>
                    <li>
                        <i class="icon-li icon-tag"></i>
                        {{#if editMode}}
                            {{view Ember.Select contentBinding=App.UserFormShirtSize valueBinding=user.shirtSize}}
                        {{else}}
                            {{user.shirtSize}}
                        {{/if}}
                    </li>
                    <li>
                        <i class="icon-li icon-gift"></i>
                        {{#if editMode}}
                            {{view Ember.Select contentBinding=packagesSelect valueBinding=pkg}}
                        {{else}}
                            {{pkg}}
                        {{/if}}
                    </li>
                    <li>
                        <i class="icon-li icon-group"></i> {{{group}}}
                    </li>
                </ul>

                <ul {{bindAttr class=":icons-ul editMode:expanded"}}>
                    <li>
                        <i class="icon-li emergency icon-user"></i> {{user.emergencyName}}
                    </li>
                    <li>
                        <i class="icon-li emergency icon-heart"></i> {{user.emergencyRelationship}}
                    </li>
                    <li>
                        <i class="icon-li emergency icon-envelope"></i> {{user.emergencyEmail}}
                    </li>
                    <li>
                        <i class="icon-li emergency icon-phone"></i> {{user.emergencyPhone}}
                    </li>
                </ul>
            </div>
        </div>

        {{#if user.bursaryRequested}}
            <div class="row">
                <div class="full col">
                    <h3>
                        Bursary
                        <span class="subtitle">
                            OSAP: <i {{bindAttr class="user.bursaryOsap:icon-ok:icon-remove"}}></i>
                        </span>
                    </h3>
                    <p>
                        <strong>Motivation for attending F!rosh Week:</strong><br>
                        {{user.bursaryEngineeringMotivation}}
                    </p>
                    <p>
                        <strong>Why financial support is required:</strong><br>
                        {{user.bursaryFinancialReasoning}}
                    </p>
                </div>
            </div>
        {{/if}}
    </div>
{{/with}}
