<div class="box normal">
    <h1>Bursary Management</h1>
    <p>
        General Notes: This is a basic version of this page. If you approve/deny bursary, <strong>please bcc:
        <a href="mailto:technology@orientation.skule.ca">technology@orientation.skule.ca</a></strong> so that I can
        update the status of each bursary.
    </p>

    <div {{bindAttr class=":admin-loader :center isLoading:showing:hidden"}}>
        <i class="icon-big-loader icon-spin icon-gear"></i>
    </div>

    <div {{bindAttr class=":admin-data :align-right isLoading:hidden:showing"}}>
        {{filteredUsers.length}} {{pluralize filteredUsers.length string="result"}}. |
        <span class="toggle-link" {{action toggleExpandAll}}>
            {{#if expandAll}}
                Collapse All
            {{else}}
                Expand All
            {{/if}}
        </span>
    </div>

    {{#each user in filteredUsers}}
        <div {{bindAttr class=":admin-data :row :col :spaced isLoading:hidden:showing"}}>
            {{view App.UserElementView userBinding=user}}
        </div>
    {{/each}}
</div>
