<section class="section">
    <div class="content row">
        <div class="side col registration-print-hidden">
            {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}
            <section class="box highlight">
                <h2>Reminders:</h2>
                <ul>
                    <li>Bring this ticket either on mobile device or on paper on the day of the event.</li>
                    <li>Go <b>{{#linkTo 'leedurhhf.index'}}here{{/linkTo}}</b> to find out all the details about the Leedur HHF Retreat</li>
                    <li>GET HYPEEEEEEEE!!!!</li>
                </ul>
            </section>
        </div>

        <div class="main col">
            <div class="row">
                <div class="full col">

                    {{#if showConfirmed}}
                        <section class="box highlight registration-print-hidden">
                            <h1>Confirmed!</h1>
                            <p>
                                Your email has been verified. A copy of this ticket has  already been sent to your email address. If you have any questions or concerns, contact
                                <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>.
                            </p>
                        </section>
                    {{/if}}
                    {{#if showAlreadyVerified}}
                        <section class="box highlight registration-print-hidden">
                            <h1>You've already verified this email!</h1>
                            <p>
                                Your email has already been verified. Looking for your ticket? If you didn't get yours
                                via email, or have any other concerns, contact
                                <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>.
                            </p>
                        </section>
                    {{/if}}
                    {{#if showError}}
                        <section class="box highlight registration-print-hidden">
                            <h1>Oops! Something went wrong.</h1>
                            <p>
                                Your email couldn't be confirmed. Is this an error? Send us an email at
                                <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>.
                            </p>
                        </section>
                    {{/if}}
                </div>
            </div>

            {{#if showReceipt}}
                <div class="row">
                    <div class="full col">
                        <section class="box normal registration-ticket">
                            <div class="row">
                                <div class="col half">
                                    <h1>
                                        <div class="label">Name</div>
                                        {{model.firstName}} {{model.lastName}}
                                    </h1>
                                </div>
                                <div class="col half">
                                    <div class="harry-potter-logo"></div>
                                    <p class="registration-engsoc small">
                                        <strong>August 4 - August 5, 2018</strong> <br>
                                        Hart House Farm, 15911, Terra Cotta, ON L7C 3G8
                                    </p>
                                </div>
                            </div>

                            <hr>

                            <div class="row qr-code-optional">
                                <div class="main col">
                                    <div class="row registration-ticket-details">
                                        <div class="third col qr-hidden">
                                            <h2>
                                                <div class="label">Ticket</div>
                                                {{model.ticketNumber}}
                                            </h2>
                                        </div>
                                    </div>
                                    <h2>
                                        <div class="label">HHF Type</div>
                                        <p>{{hhfpackage.name}}</p>
                                    </h2>
                                    <hr>

                                    <div class="row">
                                        <div class="full col">
                                            <h2><div class="label">Emergency Contact</div></h2>
                                            <p>
                                                {{model.emergencyName}} <b>{{model.emergencyPhone}}</b>
                                            </p>

                                            {{#if showDietary}}
                                                <h2><div class="label">Dietary Restrictions</div></h2>
                                                <p>
                                                    {{model.restrictionsDietary}}
                                                </p>
                                            {{/if}}
                                            {{#if showMisc}}
                                                <h2><div class="label">Additional Information</div></h2>
                                                <p>
                                                    {{model.restrictionsMisc}}
                                                </p>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>

                                <div class="side col qr">
                                    <img {{bindAttr src=url}}>
                                    <h1>
                                        <strong>{{model.ticketNumber}}</strong>
                                        <span class="subtitle">Ticket Number</span>
                                    </h1>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col full">
                                    <p class="small">
                                        This ticket is required for admission! <br>
                                        For any problems regarding your ticket, contact
                                        <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a> for help.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="content row">
                    <div class="main col float-right">
                        <div class="align-right">
                            <button class="registration-print-button" {{action print}}>Print Ticket</button>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</section>
