<section class="section content row">
    <div class="side col">
        {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}
    </div>
    <div class="main col">
        <section class="box normal">
             <h1><i class="icon-bullhorn"></i> Leedur Events</h1>
            <div class="event_title">
                <h2><strong>Leedur Hart House Farm Retreat</strong></h2>
                <hr>
            </div>
            <div class="event_short_detail">
                <div class="heading">
                    <b>Date:</b>
                </div>
                <div class="detail">
                    August 15-16
                </div>
            </div>
            <div class="event_short_detail">
                <div class="heading">
                    Location:
                </div>
                <div class="detail">
                    Hart House Farm (15911, Terra Cotta)
                </div>
            </div>
            <div class="event_short_detail">
                <div class="heading">
                    Logistics:
                </div>
                <div class="detail">
                    <div class="day"><i>Sat.</i></div>
                    <div class="time_detail">
                        12:15pm: Meet at the pit<br>
                        12:30pm: Buses leave campus<br>
                        2:15pm: Arrive at HHF<br>
                        
                    </div>
                    <div class="day"><i>Sun.</i></div>
                    <div class="time_detail">
                        1:00pm: Back at the pit
                    </div>
                </div>
            </div>
            <div class="event_short_detail">
                <div class="heading">
                    What's provided:
                </div>
                <div class="detail">
                    Bbq dinner, snacks, and breakfast 
                </div>
            </div>
            <div class="event_short_detail">
                <div class="heading">
                    What to bring:
                </div>
                <div class="detail">
                    (Click <a href="/assets/pdf/things_to_bring_hhf.pdf" target="_blank">here</a> for the list!) 
                </div>
            </div>
            <div class="event_title">
                <h2><strong>F!rosh Hart House Farm Retreat</strong></h2>
                <hr>
            </div>
            <div style="text-align:center">
                <h3 style="color: crimson;">Details Coming Soon</h3>
            </div>
        </section>
    </div>

    <div class="col">
        <section class="box normal">
            <h1>
                <i class="icon-ticket"></i> Register online
            </h1>
            
           
            
        <div {{bindAttr class=":registration-loader :center isLoading:showing:hidden"}}>
            
            <i class="icon-big-loader icon-spin icon-gear"></i>
           
        </div>
            
        <div {{bindAttr class=":registration-error :center isError:showing:hidden"}}>
         <h3 style="color: crimson;">Timeout: Connection seems to have lost! Try refreshing the page or using incognito. If problem still persists, please contact <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>  </h3>.    
        </div>
            
        <div {{bindAttr class=":registration-data isLoaded:showing:hidden"}}>
                <div class="row registration-row">
                    <div class="float-right registration-price col-header col ">
                        <h3>Price</h3>
                        <hr>
                    </div>
                    <div class="float-right registration-item col-header col ">
                        <h3>Admission Ticket</h3>
                        <hr>
                    </div>
                </div>
            
            {{#each model}}
                <div class="row registration-row">
                    <div class="registration-checkbox col">
                        {{#ifSoldOut left}}
                        &nbsp;
                        {{else}}
                            {{#ifBeforeDeadline key}}
                            <input {{bindAttr id="key" value="price"}} type="checkbox">
                            <label {{bindAttr for="key"}}></label>
                            {{else}}
                            &nbsp;
                            {{/ifBeforeDeadline}}
                        {{/ifSoldOut}}
                    </div>
                    <div class="registration-item  col">
                        
                        <h3><strong>{{name}}</strong> </h3>
                        {{#ifBeforeDeadline key}}
                            {{#ifLeedur key left}}
                                <h5 style="color:crimson;">* Bus seats are filling up! * 
                                <br>
                                After bus is full, you can still buy ticket but will need to get there by yourself. </h5> 
                            {{else}}
                                <!--h5 style="color:crimson;">* Registration will be closed at 23:59:59 on Sept 4th *</h5-->  
                            {{/ifLeedur}}
                        {{else}}
                            <h5 style="color:crimson;">* Registration is closed!  *</h5> 
                        {{/ifBeforeDeadline }}
                        <p>
                            {{description}}
                        </p>
                    </div>
                    <div  class="registration-price col ">
                        <h3 class="float-right">
                            {{#ifSoldOut left}}
                            <strong style="color:crimson;"> SOLD OUT</strong>
                            {{else}}
                            <strong>${{price}} </strong>
                            {{/ifSoldOut}}
                        </h3>
                    </div>
                </div>
            {{/each}}
                <div class="row registration-row">
                    <div class="col registration-price float-right">
                        <hr>
                        <div class="float-right">
                             <h3 ><strong>${{totalPrice}}</strong> </h3>
                        </div>
                    </div>
                    <div class="col registration-item float-right">
                        <div class="float-right">
                            <br>
                            <h3 >Total: 
                                <span class="subtitle green"><strong>Tax included</strong></span>
                            </h3>
                        </div>

                    </div>
                
                </div>
                <div class="row registration-row">
                    <div class="registration-checkbox col">
                        &nbsp;
                    </div>
                    <div class="col registration-footer ">
                        <br>
                        <h6 >*If you encounter any problems or questions, please contact <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a></h6>

                    </div>
                        <div class="col registration-checkout float-right ">
                            <div class="action-button float-right ">
                                <button {{action "checkOutClicked"}} class="highlight"  {{bindAttr disabled=checkOutDisable }} >
                                    <strong>Check Out!</strong>
                                </button>
                            </div>
                        </div>
                    

                </div>
            </div>

        </section>
    </div>
</section>