<section class="section">
    <div class="content row">
        <div class="side col">
            {{#linkTo 'index'}}<div class="registration-logo"></div>{{/linkTo}}

            <section class="box highlight">
                <h2>All done!</h2>
                <h3>What now?</h3>
                <ul>
                    <li>
                        Watch out for your confirmation email. 
                        <strong>You will need to confirm your email to get your ticket.</strong>
                    </li>
                    <li>Get Hyped for HHF!</li>
                    <br>
                        <br>
                        <strong>Note: The email might have gone to your junk/spam folder so remember to check on those as well!</strong>
                    </li>
                </ul>
                <br>
                <h3>Concerns?</h3>
                <ul>
                    <li>
                         <p>
                            If you still haven't received the confirmation email after 30 minutes, or you might have entered the wrong email address, or just any problems/concerns with the payment process in general, please don't hesitate to contact <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a>.
                        </p>
                    </li>
                </ul>
            </section>
        </div>
        
        <div class="main col">
            <section class="box normal registration-receipt">
                <div class="row">
                    <div class="col main">
                        <h1>
                            Receipt
                            <span class="subtitle">
                                Paid on: <strong>{{timestamp model.createdAt format="MMMM DD, YYYY"}}</strong>
                            </span>
                        </h1>
                    </div>
                    <div class="col side">
                        <div class="harry-potter-logo-receipt"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col half float-right">
                        <p class="small">
                            <strong>University of Toronto Engineering Society</strong> <br>
                            B740 Sanford Fleming Building <br>
                            10 King's College Road <br>
                            Toronto, Ontario, M5S 3G4 <br>
                            <br>
                            T: (416) 978-2917 <br>
                            E: <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a> <br>
                            <span class="follow-text">Follow us:</span>
                            <a href="https://www.facebook.com/groups/FroshWeek1T5/" target="_blank"><i class="icon icon-large icon-facebook"></i></a>
                            <a href="http://blog.orientation.skule.ca/" target="_blank">
                                <i class="icon registration-icons icon-large icon-tumblr-sign"></i>
                            </a>
                            <a href="http://www.twitter.com/FroshWeek" target="_blank">
                                <i class="icon registration-icons icon-large icon-twitter-sign"></i>
                            </a>
                            <a href="http://www.instagram.com/froshweek" target="_blank">
                                <i class="icon registration-icons icon-large icon-instagram "></i>
                            </a>
                            <a>
		                <span id="snapchat-banner-icon" class="snapchat-banner-icon registration-snap"></span>
                            </a>
                            
                        </p>
                            
                        
                    </div>

                    <div class="col half">
                        <p class="small">
                            <strong>Billing:</strong> <br>
                            {{model.ccName}} <br>
                            {{model.ccType}} - {{model.ccLast4}} <br>
                        </p>

                        <p class="small">
                            <strong>Registrant:</strong> <br>
                            {{model.firstName}} {{model.lastName}}<br>
                            {{model.email}} <br>
                        </p>
                    </div>

                </div>

                <div class="registration-receipt-items">
                    <h2>Purchased Trip</h2>
                    <hr>
                    <div class="row">
                        <div class="col main">
                            {{selectedPackage.name}}
                        </div>
                        <div class="col side">
                            <strong>${{selectedPackage.price}}</strong>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col main total">
                            <strong>Total</strong>
                        </div>
                        <div class="col side">
                            <strong>${{selectedPackage.price}}</strong>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col full">
                        <p class="small">
                            Print a copy of this for your records. <br>
                            Make sure to verify your email! <br>
                            For any problems regarding your purchase, contact
                            <a href="mailto:support@orientation.skule.ca">support@orientation.skule.ca</a> for help.
                        </p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>
