<div id="header-wrapper" class="header-wrapper">
    <div class="header row">
        <div class="col">
            <ul class="horizontal">
                {{#each item in controller}}
                    {{#if item.name}}
                        {{#view App.HeaderItemView contentBinding=this}}
                            {{#unless item.external}}
                                <a {{action select item}} {{bindAttr href=item.path}}>{{item.name}}</a>
                            {{else}}
                                <a {{bindAttr href=item.path}}>{{item.name}}</a>
                            {{/unless}}
                        {{/view}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div id="header" class="header header-spacer row">
    <div class="col">
        <ul class="horizontal">
            {{#each item in controller}}
                {{#if item.name}}
                    {{#if item.name}}
                        {{#view App.HeaderItemView contentBinding=this}}
                            {{item.name}}
                        {{/view}}
                    {{/if}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
