<div class="home">
    <section class="section normal subheader">
        <div class="content row">
            <div class="third col home-logo"></div>
            <div class="third col subheader-text">
                <p>
                    U of T Engineering's Orientation Week <br>
                    <strong>September 1 - 7</strong>
                </p>
            </div>
            <div class="third col subheader-text">
                <h1><strong>#fweek</strong></h1>
            </div>
        </div>
    </section>

    <section class="section highlight small-spacer">
    </section>

    <section class="section home-banner">
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal home-message">
                    <h1>What will your F!rosh Week moment be?</h1>
                    <p>
                        Welcome to U of T Engineering. F!rosh Week 1T4 is your official student-run orientation week!
                        Join us to experience the unique events, traditions, and Skule&trade; spirit that define
                        student life at U of T Engineering.
                    </p>
                    <div class="action-button">
                            <button class="highlight" onClick="parent.location='http://eepurl.com/VrpFv'">
                                {{#unless hasStarted}}
                                    <strong>Register Now</strong> <br>
                                    {{daysRemaining}} {{pluralize daysRemaining string="day"}} until F!rosh!
                                {{else}}
                                    F!rosh Week has started!<br>
                                {{/unless}}
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section highlight home-misc">
        <div class="content row">
            <div class="side col">
                <div class="number">{{daysRemaining}}</div>
                <!--span class="days-remaining-text">{{pluralize daysRemaining
                string="day"}} until F!rosh.</span-->
                <span class="days-remaining-text">{{pluralize daysRemaining string="day"}} until F!rosh.</span>
            </div>
            <div class="main col">
                <span class="follow-text">Follow us:</span>
                <a href="http://blog.orientation.skule.ca/" target="_blank"><i class="icon icon-large icon-tumblr"></i></a>
                <a href="http://www.twitter.com/FroshWeek" target="_blank"><i class="icon icon-large icon-twitter"></i></a>
                <a href="http://www.facebook.com/groups/FroshWeek1T4/" target="_blank"><i class="icon icon-large icon-facebook"></i></a>
            </div>
        </div>
    </section>
    <section class="section home-reasons">
        <div class="content row">
            <div class="full col">
                <h1><strong>5</strong> reasons you should join us for <strong>F!rosh.</strong></h1>
            </div>
        </div>
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal step top-half" data-step="1">
                    <h2>
                        It’s not just your first week of school. It’s your <strong>epic, unforgettable introduction to
                        university life.</strong>
                    </h2>
                    <p>
                        F!rosh Week is truly an experience unlike any other; you will step out of your comfort zone,
                        do things you never imagined doing–and maybe even dye yourself purple!
                    </p>
                </div>
                <div {{action showVideo bubbles=false}} class="box normal step bottom-half">
                    <h3>Watch the video.</h3>
                </div>
            </div>
        </div>
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal step top-half" data-step="2">
                    <h2>
                        More than 18 events over 7 days. <strong>There’s an event for everyone.</strong>
                    </h2>
                    <p>
                        In your first week of university, what do you want to do? Do you want to march downtown with a
                        thousand other f!rosh? Or maybe join us for an epic scavenger hunt across the city of Toronto?
                        In F!rosh Week, we’ve got it all.
                    </p>
                </div>
                {{#linkTo 'schedule'}}
                <div class="box normal step bottom-half">
                    <h3>See the schedule.</h3>
                </div>
                {{/linkTo}}
            </div>
        </div>
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal step" data-step="3">
                    <h2>
                        <strong>Meet your Skule&trade; community.</strong>
                    </h2>
                    <p>
                        Every F!rosh Week attendee is placed into F!rosh Groups of around 50 to 60 people. Over three
                        days, you and your group will share unforgettable F!rosh experiences, and forge lasting
                        friendships. But it doesn’t stop there; clubs fairs, discipline-specific events, and faculty
                        events give you additional opportunities to familiarize yourself with Skule&trade;!
                    </p>
                </div>
            </div>
        </div>
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal step" data-step="4">
                    <h2>
                        <strong>Get a F!rosh Kit with cool stuff.</strong>
                    </h2>
                    <p>
                        Start your week off right! Every F!rosh Week registration includes two t-shirts, a laundry bag,
                        a towel, water bottle, flip flops, and many other fun and/or useful things!
                    </p>
                </div>
            </div>
        </div>
        <div class="mini-content row">
            <div class="full col">
                <div class="box normal step" data-step="5">
                    <h2>
                        <strong>Participate in a century-old tradition.</strong>
                    </h2>
                    <p>
                        U of T Engineering is Canada’s oldest engineering school, and we proudly celebrate that in
                        many ways with our unique traditions; it’s why we dye ourselves purple and cherish our mascot,
                        Ye Olde Mightly Skule Cannon. And when you look back years from now, these will be some of the
                        things you will remember about U of T Engineering.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

{{view App.IndexVideoView viewName="videoView"}}
