<!-- TODO(johnliu): style this form -->
{{#formFor content}}
  <!-- TODO(johnliu): Hidden CSRF -->
  <div class="registration-step">
    <div class="registration-step-num">1</div>
    <h2><strong>Tell us about yourself</strong></h2>

    {{input firstName label="First name"}}
    {{input lastName label="Last name"}}
    {{input email as=email label="Your email address"}}
    {{input phone as=tel label="Your phone number"}}
    {{input discipline label="Engineering discipline"}}
    {{input residence label="Residence"}}
  </div>

  <div class="registration-step">
    <div class="registration-step-num">2</div>
    <h2><strong>Customize your F!rosh Kit</strong></h2>

    <h4>What's your t-shirt size?</h4>
    {{#input shirtSizeS}}
      {{inputField shirtSizeS as=radio inputConfig="name:shirt"}}
      {{labelField shirtSizeS text="S"}}
    {{/input}}
    {{input shirtSizeM as=radio inputConfig="name:shirt;checked:yes"}}{{labelField shirtSize text="M"}}
    {{input shirtSizeL as=radio inputConfig="name:shirt"}}{{labelField shirtSize text="L"}}
    {{input shirtSizeX as=radio inputConfig="name:shirt"}}{{labelField shirtSize text="XL"}}
  </div>

  <div class="registration-step">
    <div class="registration-step-num">3</div>
    <h2><strong>Health and safety information</strong></h2>

    <h3><strong>Emergency contact</strong></h3>
    {{input emergencyName label="Name"}}
    {{input emergencyRelationship label="Relationship"}}
    {{input emergencyPhone label="Phone number"}}

    <h3><strong>List any dietary restrictions you may have.</strong></h3>
    {{#input restrictionsDietary}}
      {{labelField restrictionsDietary text="Examples include: Halal, Kosher, vegetarian, peanut allergies"}}
      {{input restrictionsDietary as="text"}}
      {{errorField restrictionsDietary}}
    {{/input}}

    <h3><strong>List any accessibility requirements you may need.</strong></h3>
    {{#input restrictionsAccessibility}}
      {{labelField restrictionsDietary text="F!rosh Week is committed to U of T's accessibility guidelines."}}"
      {{input restrictionsAccessibility as="text"}}
      {{errorField restrictionsAccessibility}}
    {{/input}}

    <h3><strong>Anything else we should know?</strong></h3>
    {{input restrictionsMisc as="text"}}
  </div>

  <div class="registration-step">
    <div class="registration-step-num">4</div>
    <h2><strong>How will you be paying?</strong></h2>

    <h3><strong>Would you like to apply for the F!rosh Week bursary?</strong></h3>
    {{#input bursary}}
      {{labelField bursary text="You may apply if you qualify for OSAP; bursaries will be awarded based on need.
                                 You will need to fill out an additional short application."}}
      {{input bursary as="checkbox"}}{{labelField bursary text="Yes"}}
    {{/input}}

    <h3><strong>Pay by credit card</strong></h3>
    <h4>Secure connection</h4>
    {{input cardNum label="Card number"}}
    {{input cardExpires label="Expires"}}
    {{input cardName label="Name on card"}}
    {{input cardCVC label="Verification code"}}

    {{submit "Pay and register"}}
  </div>
{{/formFor}}

