<!-- TODO(johnliu): style this form -->
{{#formFor content wrapper="orientation"}}
    <!-- TODO(johnliu): Hidden CSRF -->
    <div class="registration-step">
        <div class="registration-step-num">1</div>
        <h2>Tell us about yourself</h2>

        <div class="subsection text">
            {{#input firstName}}
                {{labelField firstName text="First name"}}
                {{inputField firstName placeholder="Jane"}}
            {{/input}}
            {{#input lastName}}
                {{labelField lastName text="Last name"}}
                {{inputField lastName placeholder="Smith"}}
            {{/input}}
            {{#input email}}
                {{labelField email text="Your email address"}}
                {{inputField email as=email placeholder="jane@example.com"}}
            {{/input}}
            {{#input gender}}
                {{labelField gender text="Gender"}}
                {{inputField gender
                    as='select'
                    collection='App.UserFormGender'
                    selection='gender'
                    optionValuePath='content'
                    optionLabelPath='content'}}
            {{/input}}
            <div class="text-inline">
                <label>Phone number</label>
                <div class="input-inline-group">
                    {{#input phoneAreaCode}}
                        {{inputField phoneAreaCode as=tel placeholder="647" inputConfig="maxlength:3;class:phone phone-area"}}
                    {{/input}}
                    {{#input phoneStart}}
                        {{inputField phoneStart as=tel placeholder="123" inputConfig="maxlength:3;class:phone phone-start"}}
                    {{/input}}
                    {{#input phoneEnd}}
                        {{inputField phoneEnd as=tel placeholder="5678" inputConfig="maxlength:4;class:phone phone-end"}}
                    {{/input}}
                </div>
                <div class="clear"></div>
            </div>
            {{#input discipline}}
                {{labelField discipline text="Engineering discipline"}}
                {{inputField discipline
                             as='select'
                             collection='App.UserFormEngineeringDisciplines'
                             selection='discipline'
                             optionValuePath='content'
                             optionLabelPath='content'}}
            {{/input}}
            {{#input residence}}
                {{labelField residence text="Residence"}}
                {{inputField residence placeholder="Chestnut"}}
            {{/input}}
        </div>
    </div>

    <div class="registration-step">
        <div class="registration-step-num">2</div>
        <h2>Customize your F!rosh Kit</h2>

        <div class="subsection radio">
            <span class="input"><label>What's your t-shirt size?</label></span>
            <div class="choices">
                {{#input shirtSizeS}}
                    {{inputField shirtSizeS as=radio inputConfig="name:shirt"}}
                    {{labelField shirtSizeS text=" "}}
                    <label>S</label>
                {{/input}}
                {{#input shirtSizeM}}
                    {{inputField shirtSizeM as=radio inputConfig="name:shirt"}}
                    {{labelField shirtSizeM text=" "}}
                    <label>M</label>
                {{/input}}
                {{#input shirtSizeL}}
                    {{inputField shirtSizeL as=radio inputConfig="name:shirt"}}
                    {{labelField shirtSizeL text=" "}}
                    <label>L</label>
                {{/input}}
                {{#input shirtSizeX}}
                    {{inputField shirtSizeX as=radio inputConfig="name:shirt"}}
                    {{labelField shirtSizeX text=" "}}
                    <label>XL</label>
                {{/input}}
            </div>
        </div>
    </div>

    <div class="registration-step">
        <div class="registration-step-num">3</div>
        <h2>Health and safety information</h2>

        <div class="subsection text">
            <h3>Emergency contact</h3>
            {{#input emergencyName}}
                {{labelField emergencyName text="Name"}}
                {{inputField emergencyName placeholder="John Smith"}}
            {{/input}}
            {{#input emergencyEmail}}
                {{labelField emergencyEmail text="Email address"}}
                {{inputField emergencyEmail as=email placeholder="john@example.com"}}
            {{/input}}
            {{#input emergencyRelationship}}
                {{labelField emergencyRelationship text="Relationship"}}
                {{inputField emergencyRelationship placeholder="Father"}}
            {{/input}}
            <div class="text-inline">
                <label>Phone number</label>
                <div class="input-inline-group">
                    {{#input emergencyPhoneAreaCode}}
                        {{inputField emergencyPhoneAreaCode as=tel placeholder="647" inputConfig="maxlength:3;class:phone phone-area"}}
                    {{/input}}
                    {{#input emergencyPhoneStart}}
                        {{inputField emergencyPhoneStart as=tel placeholder="123" inputConfig="maxlength:3;class:phone phone-start"}}
                    {{/input}}
                    {{#input emergencyPhoneEnd}}
                        {{inputField emergencyPhoneEnd as=tel placeholder="5678" inputConfig="maxlength:4;class:phone phone-end"}}
                    {{/input}}
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="subsection">
            <h3>List any dietary restrictions you may have.</h3>
            {{#input restrictionsDietary}}
                {{hintField restrictionsDietary text="Examples include: Halal, Kosher, vegetarian, peanut allergies"}}
                {{inputField restrictionsDietary as=text}}
            {{/input}}
        </div>

        <div class="subsection">
            <h3>List any accessibility requirements you may need.</h3>
            {{#input restrictionsAccessibility}}
                {{hintField restrictionsAccessibility text="F!rosh Week is committed to U of T's accessibility guidelines."}}
                {{inputField restrictionsAccessibility as=text}}
            {{/input}}
        </div>

        <div class="subsection">
            <h3>Anything else we should know?</h3>
            {{#input restrictionsMisc}}
                {{inputField restrictionsMisc as=text}}
            {{/input}}
        </div>
    </div>

    <div class="registration-step">
        <div class="registration-step-num">4</div>
        <h2>How will you be paying?</h2>

        <div class="subsection">
            <h3>Would you like to apply for the F!rosh Week bursary?</h3>
            <span class="input">
                <label>
                    You may apply if you qualify for OSAP; bursaries will be awarded based on need.
                    You will need to fill out an additional short application.
                </label>
            </span>
            <div class="checkboxes">
                {{#input bursary}}
                    {{inputField bursary as=checkbox}}{{labelField bursary text="✔"}}
                    <label>Yes</label>
                {{/input}}
            </div>
        </div>

        <div class="subsection text">
            <h3>Pay by credit card</h3>
            <h4 class="small">Secure connection</h4>
            {{#input ccName}}
                {{labelField ccName text="Name on card"}}
                {{inputField ccName placeholder="Jane Smith"}}
            {{/input}}
            <div class="text-inline">
                <label>Card number</label>
                <div class="input-inline-group">
                    {{#input ccNumber}}
                        {{inputField ccNumber as=tel inputConfig="class:cc cc-number"}}
                    {{/input}}
                    {{#input ccCVC}}
                        {{inputField ccCVC as=tel placeholder="CVC" inputConfig="class:cc cc-cvc"}}
                    {{/input}}
                </div>
                <div class="clear"></div>
            </div>
            <div class="text-inline">
                <label>Expires</label>
                <div class="input-inline-group">
                    {{#input ccExpiration}}
                        {{inputField ccExpirationMonth as=tel placeholder="MM" inputConfig="class:cc cc-month"}}
                    {{/input}}
                    {{#input ccExpiration}}
                        {{inputField ccExpirationYear as=tel placeholder="YY" inputConfig="class:cc cc-year"}}
                    {{/input}}
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="right-align end">
            {{#submit class="ladda-button" data-style="zoom-out"}}
                <span class="ladda-label">Pay and register</span>
            {{/submit}}
        </div>
    </div>
{{/formFor}}
