<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>Your receipt and event ticket</title>
</head>

<body>
<table cellpadding="0" cellspacing="0" border="0" style="background-color:whitesmoke;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#444;margin:0;padding:0;width:100%!important;"><tr><td>
  <table cellpadding="0" cellspacing="0" border="0" align="center"><tr><td width="600">
    <div style="font-size:1.5em;background-color:#6C198F;padding:5px;color:white;">
      <img style="width:250px; height:250px; max-width:100%;vertical-align:middle;margin:7px" src="https://www.orientation.skule.ca/assets/1T5Logo_greyver.png" />
      <span>Your receipt and event ticket</span>
    </div>

    <div>
      <p>Hey <%= first_name %> <%= last_name %>, thanks for registering for Leedur Events 1T5.<br/>We're stoked to have you coming. Get HYYYYYYPED!</p>

      <div style="padding:10px;padding-left:20px;background-color:#6C198F;color:white;">
        <b>TICKET</b> Bring this on the day of the Leedur Retreat.
        <br>(Showing on mobile device is fine as well)
      </div>
      <div style="background-color:white;padding:10px;padding-left:20px;padding-right:20px;">
        <div style="width:50%;float:left;">
          <div> <b>NAME</b> </div>
          <div style="font-size:3em;"> <b> <%= first_name %> <%= last_name %> </b> </div>
        </div>
        <div style="width:50%;float:left;">
          <div style="text-align:right"> <b> September 7 - September 13, 2015 </b> </div>
          <div style="text-align:right"> 31 King's College Circle, Toronto </div>
        </div>
        <div style="clear:both"> </div>
        <div style="background-color:dimgrey;margin-top:10px;margin-bottom:10px;padding-top:2px;width:100%;"> </div>
        <div style="width:auto;float:left;margin-right:20px;">
          <div> <b>TYPE</b> </div>
          <div style="font-size:3em;"> <b> <%= hhf_package.name %></b> </div>
        </div>
        <div style="width:auto;float:left;">
          <div> <b>Ticket Number</b> </div>
          <div style="font-size:3em;"> <b> <%= ticket_number %> </b> </div>
        </div>
        <div style="clear:both"> </div>
        <div style="background-color:dimgrey;margin-top:10px;margin-bottom:10px;padding-top:2px;width:100%;"> </div>
        <div>
          <div> <b>EMERGENCY CONTACT</b> </div>
          <div style="font-size:1.5em"> <%= emergency_name %> <b> <%= User.formatted_phone emergency_phone %> </b> </div>
        </div>
        <div style="margin-top:20px">
          <div> <b>DIETARY RESTRICTIONS / ALLERGIES</b> </div>
          <div> <%= restrictions_dietary %> </div>
        </div>
      </div>

      
          <div style="display:inline-block;">
            <p style="display:inline-block; color:#6C198F; position:relative; max-width:100px; text-align:center; ">Follow us: @<strong>froshweek</strong>  </p>
              <div style="display: inline-block">
	   
		<a href="https://www.facebook.com/groups/FroshWeek1T5/"  style="margin-left:10px;"><img style="position:relative; top: 1.5px; width: 30px; height: 30px;" src="https://www.orientation.skule.ca/assets/icons/facebook-square.png"></img></a>
		<a href="http://blog.orientation.skule.ca/" target="_blank"><img style="position:relative; top: 1.5px; width: 30px; height: 30px;" src="https://www.orientation.skule.ca/assets/icons/tumblr-square.png"></img></a> 
		<a href="http://twitter.com/FroshWeek" target="_blank"><img style="position:relative; top: 1.5px; width: 30px; height: 30px;" src="https://www.orientation.skule.ca/assets/icons/twitter-square.png"></img></a>
		<a href="http://www.instagram.com/froshweek" target="_blank"><img style="position:relative; top: 1.5px; width: 30px; height: 30px;" src="https://www.orientation.skule.ca/assets/icons/instagram.png"></img></a>
		<a><img style=" margin-bottom:3px; width: 27px; height: 27px;" src="https://www.orientation.skule.ca/assets/icons/snapchat.png"></img></a>
	      </div>
          </div>
        </div>
        
      </div>

      <div style="padding:10px;padding-left:20px;background-color:#6C198F;color:white;">
        <b>RECEIPT</b> Keep for your records.
      </div>
      <div style="background-color:white;padding:10px;padding-left:20px;padding-right:20px;">
        <div> PAID ON: <b> <%= User.formatted_date created_at %> </b> </div> <br/>
        <div style="width:50%;float:left;">
          <div> <b> Billing: </b> </div>
          <div> <%= get_billing_name %> </div>
          <div> <%= get_billing_type %>  - <%= get_billing_last4 %> </div> <br/>
          <div> <b> Registrant: </b> </div>
          <div> <%= first_name %> <%= last_name %> </div>
          <div> <%= email %> </div>
        </div>
        <div style="width:50%;float:left;">
          <div> <b> University of Toronto Engineering Society </b> </div>
          <div> B740 Sanford Fleming Building </div>
          <div> 10 King's College Road </div>
          <div> Toronto, Ontario, M5S 3G4 </div> <br/>
          <div> T: (416) 978-2917 </div>
          <div> E: <a style="color:#34003e;text-decoration:none;" href="mailto:support@orientation.skule.ca"> support@orientation.skule.ca </a> </div>
          
          
        </div>
        <div style="clear:both"> </div>
        <div style="font-size:2em;margin-top:20px;"> Purchased Ticket </div>
        <div style="background-color:dimgrey;margin-top:10px;margin-bottom:10px;padding-top:2px;width:100%;"> </div>
        <div style="width:80%;float:left;font-size:1.2em">
          <div> <%= hhf_package.name %> </div>
        </div>
        <div style="width:20%;float:left;">
          <div style="text-align:right;margin-right:20px;"> <b> $<%= hhf_package.price %> </b> </div>
        </div>
        <div style="clear:both"> </div>
        <div style="background-color:dimgrey;margin-top:10px;margin-bottom:10px;padding-top:2px;width:100%;"> </div>
        <div style="width:80%;float:left;">
          <div style="text-align:right"> Total </div>
        </div>
        <div style="width:20%;float:left;">
          <div style="text-align:right;margin-right:20px;"> <b> $<%= hhf_package.price %> </b> </div>
        </div>
        <div style="clear:both"> </div>
      </div>

    </div>
  </td></tr></table>
</td></tr></table></body>
</html>
