<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="F!rosh Week 1T4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <%= csrf_meta_tags %>

    <title>F!rosh Week 1T4</title>

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= javascript_include_tag "modernizr" %>
    <% unless Rails.application.config.offline_mode %>
    <script type="text/javascript" src="//use.typekit.net/llg4dti.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        Stripe.setPublishableKey('<%= Rails.application.config.stripe_publishable_key %>');
        var _authCid = '<%= Rails.application.config.google_api_client.authorization.client_id %>';
    </script>
    <% else %>
    <%= javascript_include_tag "stripe-debug" %>
    <script>
        var _offline = true;
    </script>
    <% end %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40331800-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
</body>
</html>
